* {
    margin: 0;
    padding: 0;
}

/* .carta{

    width: 100;
    height: 100vh;

}
.header{
    width: 100%; 
    position: relative;
}
.header img{
    object-fit: cover;
    width: 100%;
    height: 20vh;

}
.datos{
    display: flex;
    flex-direction: column;
        flex: center;
        justify-content: center;
        align-items: center;
} */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0e0e0;
}

.carta {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.header {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.header img {
    width: 100%;
    height: auto;
    display: block;
}

.datos {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.datos h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.datos p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

.datos .info {
    margin-top: 15px;
    font-size: 14px;
    color: #999;
}

.datos .info span {
    display: block;
    margin-bottom: 5px;
}

.datos .info span strong {
    color: #333;
}

.datos .info span:last-child {
    margin-bottom: 0;
}

.datos img {
    width: 20%;
    height: auto;
    margin-top: 15px;
}


.carta {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    width: 100%;
}

.p1 {
    display: flex;
    border: 1px solid red;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}

.p2 {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;
}

.p3 {
    padding: 90px 0;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.estadis {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.barras {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;

}

.nom-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 90px;
}

#medidas {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 30px;
}