*{
    margin: 0;
    padding: 0;
}

.carta{

    width: 100;
    height: 100vh;

}
.header{
    width: 100%; 
    position: relative;
}
.header img{
    object-fit: cover;
    width: 100%;
    height: 20vh;

}
.datos{
    display: flex;
    flex-direction: column;
        flex: center;
        justify-content: center;
        align-items: center;
}